!!!
html
  head
    title Contact Us
    link(href='/styles/style.css', rel='stylesheet')
  body
    #wrap
      h3 Contact us using:
      p
      p To contact us use one of the following
        ul
          li= email
          li You can also call us on #{telephone}
