!!!
html
  head
    title Contact Us
    link(href='/styles/style.css', rel='stylesheet')
  body
    #wrap
      h1 Express Contact
      h3 Contact us using:
      p
      p To contact us use one of the following
        ul
          li= email
          li= telephone
          li I like it when you contact me through email: #{email}
          li You can also call us on #{telephone}
