doctype
html
  head
    title= title 
    link(rel='stylesheet', href='/styles/style.css')
  body
    #wrap
      h1 Welcome Home
      p
        | node running in back and just some straight up js script up in front of here.
      p= firstParagraph
      #new-section
        h2 New section
        p
          | New section here.
