doctype
html
  head
    title= title 
    link(rel='stylesheet', href='/styles/style.css')
  body
    #wrap
      h1 Welcome Home
      p
        | node running in back and just some straight up js script up in front of here.
      p= firstParagraph 
      #new-section
        h2 Customer Data Store.
        p
          | Working with data in Express is made easier.
        p
          | I will show you how to add to a list of customers
        P 
          | this will populate our customer database.
      #home-btn
        a(href='/customer') Home

