#wrap {
  width: 80%;
  margin: 70px auto 0;
}

span { font-style: italic; color: salmon;font-weight: 220; }

.gridtable {
  width: auto;
  margin: 50px auto 0;
}
  .gridtable, th, td {
    border: 1px solid #123;
  }
.gridtable a { 
  text-decoration: 
  none;color: #b00;
}
  .gridtable a:hover {
    cursor: pointer;
  }

.gridtable a.first { 
  color: #33c;
}

  .gridtable th {
    width:140px;
    height: 40px;
    background-color: #777;
    color:#f7f7f7;
  }
  .gridtable tr {
    height: 50px;
  }
  .gridtable tr:nth-child(odd) {
    background: #EEE;
  }

  .gridtable td { 
    padding:0.2em 1em;
  }

  #menu {
    width: 165px;
    float: right;
    padding:1em;
    border-radius: 4px;
    background-color: #F33030;
    color: #fafafa;
    text-align: center;
    margin: 20px 22% 0 0;
    text-decoration: none;
    border: 2px inset purple;
  }
  #menu a {
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    text-shadow: -2px -2px 1px #450c00;
  }
