doctype5
html
  head
    title Add new customer
    link(href='/styles/style.css', rel='stylesheet')
  body
    #wrap
      h1 register new customers.
      h3 customer details here
      form(id='form', method='POST', action='/customer/create', enctype='multipart/form-data')
        p
          label(for='Name') Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          input(type='text', id='name', name='name')
        p
          label(for='email') Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          input(type='email', id='email', name='email')
        p
          label(for='telephone') Telephone&nbsp;
          input(type='tel', id='telephone', name='telephone') 
        p
          label(for='picture') Picture&nbsp;
          input(type='file', id='picture', name='picture')
        p
          input(type='submit', value='Add Customer')
