doctype
html(lang='en')
  head
    title Customer Details
    link(rel='stylesheet', href='/styles/style.css')
  body
    #wrap
      h2 Details
      p Id #{customer.id}
      p Name #{customer.name}
      p Email #{customer.email}
      p Telephone #{customer.telephone}

      
     #menu
       a(href='/customer/create') Add new customer
     #home-btn
       a(href='/') Home
