doctype
html
  head
    title Edit customer
    link(href='/styles/style.css', rel='stylesheet')
  body
    #wrap
      h3 Customer details
      form(id='form', method='post', action='/customer/edit/#{customer.id}')
        p
          label(for='name') Name
          input(type='text', id='name', value='#{customer.name}')
        p
          label(for='email') Email
          input(type='email', id='email', name='email', value='#{customer.email}')
        p
          label(for='telephone') Telephone
          input(type='tel', id='telephone', name='telephone', value='#{customer.telephone}')
        p
          input(type='submit', value='Update Customer')
